workspace.code-workspace
secrets.yaml
shiny-invention/platformio.ini
shiny-invention/.pioenvs/*
shiny-invention/.piolibdeps/*
shiny-invention/src/esphome.h
shiny-invention/src/main.cpp
shiny-invention/src/esphome/*
.esphome/shiny-invention.yaml.json
shiny-invention/src/PMS_code/*
